.playground {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100vh;
  background-color: #282c34;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.adding {
  flex: 1;
}

.canvas {
  width: 500px;
  height: 70vh;
  position: relative;

  margin: 0 30px;
  padding: 20px;
  border-radius: 20px;

  background: white;
  overflow: hidden;

  .text {
    position: absolute;
    border: 0;
    background-color: #ffffff00;

    &.selected {
      border: 1px solid rgb(184, 184, 184);
    }
  }
}
