.playground {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 100vh;
  background-color: #282c34;
  
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .save-button {
    margin-bottom: 5vh;
    padding: 0.75rem 1.5rem;
    border: 0;
    border-radius: 1rem;
  }

  .layer {
    &-header {
      display: flex;
      align-items: center;
      justify-content: center;

      &-title {
        color: white;
      }

      button {
        margin-left: 0.25rem;
        padding: 0;
        border: 0;

        background: inherit;
        color: white;
      }
    }

    &-items {
      width: 170px;
      height: 60vh;
      
      margin: 0 30px;
      padding: 20px;
      border-radius: 20px;
  
      background: #ffffff;
  
      li {
        padding: 0.25rem 0.25rem;
        list-style: none;

        &.selected {
          border: 1px solid #a4a4a4;
          border-radius: 0.5rem;
        }
      }
    }
  }
}
